{% extends "template.html" %}
{% block content %}

<div class="booking-form-body">
    <br>
    <h3 class="text-white">Editar informacion del cliente</h3>
    <a href="/registros" class="btn btn-danger">VOLVER</a>
    <form id="form" class="custom-form booking-form" action="/registros/modificar" method="post" role="form">
        <div class="booking-form-body">
            <input type="hidden" name="id" value="{{data._id}}"/>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <input type="text" value="{{data._servidor}}" name="servidor" class="form-control" placeholder="Nombre del servidor Publico" required>
                </div>
                <div class="col-lg-6 col-12">
                    <input type="date" value="{{data._fecha}}" name="fecha" class="form-control" placeholder="fecha dd/mm/aaaa" required>
                </div>
                <div class="col-lg-6 col-12">
                    <input type="text" value="{{data._clienteDni}}" name="clienteDni" class="form-control" placeholder="DNI cliente" required>
                </div>
                <div class="col-lg-4 col-md-10 col-8 mx-auto mt-2">
                    <button id="boton" type="submit" class="form-control btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
