{% extends "template.html" %}
{% block content %}
<script>
    $(document).ready(function () {

        $('#link').click(function () {
            create();

        });

        $('#search').keyup(function () {
            search();
        });
    });

    

    function search() {
        const atributo = $("#atributo").val();
        const search = $('#search').val().toUpperCase();
       
        tabla("http://localhost:5000/clientes/search/" + search + "/" + atributo);
    }

    let currentSortOrder = 1;
    function sortTable(attribute) {
        const sortOrder = currentSortOrder;
        currentSortOrder = (currentSortOrder === 1) ? 2 : 1;

        const metodo = $('#metodo').find(":selected").val();
        tabla("http://localhost:5000/clientes/" + sortOrder + "/" + attribute + "/" + metodo);
    }

    function tabla(url) {
        $.ajax({
            method: "GET",
            url: url,
            contentType: "json",
            success: function (data) {
                //console.log(data);
                if (data.code == '200') {
                    var html = '';
                    $.each(data.data, function (i, info) {
                        console.log(info);
                        html += '<tr>';
                        html += '<td>' + (i + 1) + '</td>';
                        html += '<td>' + info.apellido + " " + info.nombre + '</td>';
                        html += '<td>' + info.dni + '</td>';
                        html += '<td>' + info.direccion + '</td>';
                        html += '<td>' + info.telefono + '</td>';
                        html += '<td>' + info.tiempoAtencion + '</td>';
                        html += '<td>' + info.calificarServicio + '</td>';
                        html += '<td>' + '<a href="/clientes/editar/' + info.id + '" class="btn btn-warning">Editar</a>' + '</td>';
                    });
                    html += '</tr>';


                    $('#tabla tbody').html(html);
                }
            }
        });
    }

</script>

<div class="booking-form-body p-4">
    <div class="row p-4">
        <div class="col"> <h3 class="text-white ">Lista de clientes</h3> </div>
        <div class="col">  </div>
        <a href="/clientes/ver" class="btn btn-danger col">Agregar cliente</a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <select id="metodo" class="form-select" aria-label="Default select example" role="group">
                    <option selected>Metodo de ordenacion</option>
                    <option value="1">QuickSort</option>
                    <option value="2">MergeSort</option>
                    <option value="3">ShellSort</option>
                </select>
            </div>
           
            <div class="col">
                <select id="atributo" class="form-select " aria-label="Default select example" role="group">
                    <option selected>atributo</option>
                    <option value="_nombre">Nombre</option>
                    <option value="_apellido">Apellido</option>
                    <option value="_dni">DNI</option>
                    <option value="_direccion">Direccion</option>
                    <option value="_telefono">Telefono</option>
                    <option value="_TiempoAtencion">Tiempo de atencion</option>
                    <option value="_CalificarServicio">Calificacion de servicio</option>
                </select>
            </div>

            <div class="col">
                <search>
                    <form class="form-horizontal" role="form" method="get">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="search" name="search"
                                    placeholder="Buscar">
                            </div>
                        </div>
                    </form>
                </search>
            </div>
        </div>
    </div>
    
</div>

<!-- <button id="link" class="btn btn-danger" >ORDENAR</button> -->

<div class="p-4">
    <table id="tabla" class="table table-dark table-hover">
        <thead>
            <tr>
                <th title="Click para ordenar por el atributo" style="cursor: pointer" class="text-bg-warning"
                    onclick="sortTable('_id')">Nro </th>
                <th title="Click para ordenar por el atributo" style="cursor: pointer" class="text-bg-warning"
                    onclick="sortTable('_apellido')">Cliente</th>
                <th title="Click para ordenar por el atributo" style="cursor: pointer" class="text-bg-warning"
                    onclick="sortTable('_dni')">DNI</th>
                <th title="Click para ordenar por el atributo" style="cursor: pointer" class="text-bg-warning"
                    onclick="sortTable('_direccion')">Direccion</th>
                <th title="Click para ordenar por el atributo" style="cursor: pointer" class="text-bg-warning"
                    onclick="sortTable('_telefono')">Telefono</th>
                <th title="Click para ordenar por el atributo" style="cursor: pointer" class="text-bg-warning"
                    onclick="sortTable('_TiempoAtencion')">Tiempo de atencion HH:MM</th>
                <th title="Click para ordenar por el atributo" style="cursor: pointer" class="text-bg-warning"
                    onclick="sortTable('_CalificarServicio')">Calificacion de servicio</th>
                <th class="text-bg-warning">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.apellido }} {{ item.nombre }}</td>
                <td>{{ item.dni }}</td>
                <td>{{ item.direccion }}</td>
                <td>{{ item.telefono }}</td>
                <td>{{ item.tiempoAtencion }}</td>
                <td>{{ item.calificarServicio }}</td>
                <td>
                    <a href="/clientes/editar/{{ item.id }}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>

{% endblock %}